# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME="data-enrichment"
NODE_ENV="dev"
MAX_CPU=1

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
CONFIGURATION_DATABASE="mydb"
CONFIGURATION_DATABASE_USER="postgres"
CONFIGURATION_DATABASE_PASSWORD="postgres"
CONFIGURATION_DATABASE_HOST="localhost"

ENCRYPTION_KEY="8fj29dkd82hs91kd93kd82hs91kd83ks"

SALT_ROUNDS=9
