# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME=data-enrichment
NODE_ENV=dev
MAX_CPU=1

CONFIGURATION_DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY_HERE

SALT_ROUNDS=9

size=150mb

CACHE_TTL=86400

REDIS_HOST=REDIS_HOST_HERE
REDIS_PORT=6379
REDIS_PASSWORD=REDIS_PASSWORD_HERE

SERVER_URL=NATS_SERVER_URL
STARTUP_TYPE=nats
PRODUCER_STREAM=config.notification.response
CONSUMER_STREAM=config.notification
STREAM_SUBJECT=config.notification

APM_ACTIVE=true
APM_URL=http://APM_HOST:8200
APM_SECRET_TOKEN=APM_TOKEN_HERE
APM_SERVICE_NAME=data-enrichment

TAZAMA_AUTH_URL=http://AUTH_HOST:3020/v1/auth/login
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

SIDECAR_HOST=SIDECAR_HOST_HERE
LOGSTASH_LEVEL=info
