# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME=data-enrichment
NODE_ENV=dev
MAX_CPU=1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb?schema=public
CONFIGURATION_DATABASE=mydb
CONFIGURATION_DATABASE_USER=postgres
CONFIGURATION_DATABASE_PASSWORD=postgres
CONFIGURATION_DATABASE_HOST=localhost

ENCRYPTION_KEY=8fj29dkd82hs91kd93kd82hs91kd83ks

SALT_ROUNDS=9

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis-password

SFTP_HOST_DEV=10.10.80.37
SFTP_PORT_DEV=2222
SFTP_USERNAME_DEV=molly
SFTP_PASSWORD_DEV=password


SERVER_URL=localhost:4222
STARTUP_TYPE=nats
PRODUCER_STREAM=config.notification
CONSUMER_STREAM=config.notification
STREAM_SUBJECT=config.notification


SIDECAR_HOST=10.10.80.37:5000