# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME=data-enrichment
NODE_ENV=dev
MAX_CPU=1

CONFIGURATION_DATABASE_URL=postgresql://postgres:postgres@10.10.80.37:5432/tcs
ENCRYPTION_KEY=8fj29dkd82hs91kd93kd82hs91kd83ks

SALT_ROUNDS=9

CACHE_TTL=86400
DAILY_CRON=*/30 * * * * *

REDIS_HOST=10.10.80.37
REDIS_PORT=6379
REDIS_PASSWORD=redis-password

SFTP_HOST_DEV=10.10.80.37
SFTP_PORT_DEV=2222
SFTP_USERNAME_DEV=molly
SFTP_PASSWORD_DEV=password

SERVER_URL=10.10.80.37:4222
STARTUP_TYPE=nats
PRODUCER_STREAM=config.notification.response
CONSUMER_STREAM=config.notification
ENRICHMENT_STREAM=config.enrichment
STREAM_SUBJECT=config.notification

APM_ACTIVE=true
APM_URL=http://10.10.80.17:8200
APM_SECRET_TOKEN=
APM_SERVICE_NAME=data-enrichment

TAZAMA_AUTH_URL=http://10.10.80.17:3020/v1/auth/login
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

SIDECAR_HOST=10.10.80.17:5000
LOGSTASH_LEVEL='info'